body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}


.menu-button {
    font-size: 24px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #f0f0f0;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 40px;
}

.progress-bar::before {
    content: '';
    position: absolute;
    left: 10%; 
    right: 10%;
    height: 2px;
    background-color: #ccc;
    top: 50%;
    z-index: 0;
}

.step {
    text-align: center;
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

.step i {
    background-color: #ddd;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.step p {
    margin: 8px 0 0;
    font-size: 14px;
}

.step.active i {
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}

.event-info {
    flex: 1;
    margin-right: 20px;
}

.event-image {
    position: relative;
    width: 45%; /* Ajustado para cubrir el área necesaria */
    overflow: hidden;
    min-height: 300px; /* Altura mínima para asegurar la cobertura */
}


.carousel-image {
    width: 100%;
    height: 60%;
    display: none;
    height: auto;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.event-image:hover .carousel-button {
    opacity: 1;
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
}


.carousel-image {
    width: 100%;
    height: auto;
    position: absolute; /* Cambiado a absolute para permitir superposición */
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease-out;
    display: block; /* Asegúrate de que todas las imágenes se carguen, pero no sean visibles inicialmente */
}

.carousel-image.active {
    opacity: 1;
    z-index: 2; /* Mantiene la imagen activa visible sobre las demás */
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

.slide-out {
    animation: slideOut 0.5s forwards;
    z-index: 1;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.event-info {
    flex: 1;
    margin-right: 20px;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
}

.event-info h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.event-info p {
    margin-bottom: 10px;
    color: #555;
}

.event-info strong {
    color: #000;
    font-weight: bold;
}


header {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
    position: relative;
}

.title {
    font-size: 18px;
    margin: 0 10px;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile-icon {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}


.username {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Para que el footer se quede abajo en caso de contenido corto */
    margin: 0;
}

footer {
    text-align: center;
    padding: 20px 0;
}

.next-button {
    width: 20%; /* Hace que el botón ocupe todo el ancho disponible */
    padding: 10px 0; /* Padding vertical para hacer el botón más grande */
    background-color: #2a9df4; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde predeterminado */
    cursor: pointer; /* Cursor de mano al pasar el ratón sobre el botón */
    border-radius: 5px; /* Bordes redondeados para el botón */
    font-size: 16px; /* Tamaño de fuente para hacerlo más legible */
    transition: background-color 0.3s; /* Transición suave para el efecto hover */
}

.next-button:hover {
    background-color: #2a9df4; /* Cambio de color al pasar el ratón */
}
